body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: cornsilk;
    background-color: darkslateblue;
}
h1{
    text-align: center;
    padding: 25px 25px 0px 25px;
    margin: 0;
    font-size: 36px;
}
#discription{
    text-align: center;
    color:cornsilk;
    font-size: 20px;
    font-weight: inherit;
    margin-top: 0px;
}
span{
    color:#D81159;
}
#header{
   background-color:#1c0c57;
   border-bottom:#D81159 3px solid;
   height: 20vmin;
}
#survey-form{
    border: #351e88 solid 1px;
    background-color:  #351e88;
    width: 60%;
    border-radius:1rem;
    min-height: 75vh;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}
.field{
    padding: 10px;
    width: 100%;
    border-radius: 1ex;
    display: block;
    margin: auto;  
}
#top{
    display: flex;
    margin-left: 4px;
}
.label{
    display: flex;
    margin-left: 4px;
    margin-top: 15px;
}
/*#headings{
    padding-top: 30px;
    position: relative;
    right: 10px;
}*/
#para{
    display: flex;
    margin-left: 4px;
    margin-top: 40px   
}
#rad{
   text-align: start;
   margin-top: -30px;
}
input[type=radio]{
    margin-top: 25px;
     width: 2em;
     height: 2em;   
}
.container{
   padding-left: 25px;
   padding-bottom: em;
}
input[type=checkbox]{
    margin-top: 25px;
     width: 2em;
     height: 2em;   
}
#texta{
   display: flex;
   flex-direction: column;
}
#textarea{
   height: 120px;
   border-radius: 1ex;
   font-size: 18px; 
}
#submit{
 height: 60px;
 margin-top:30px ;
 width: 100%;
 border-radius: 1ex;
 font-size: 22px;
 border: 3px solid #D81159; 
}
#submit:hover{
    background-color:#D81159;
    color: cornsilk;
    font-weight: bolder;
}
@media(max-width:768px){
    #header{
        height: 25vmin;
    }
    h1{
        font-size: 20px;
        margin-bottom: -15px;
    }
    #discription{
        font-size: 10px;
        padding: 15px;
    }
}

